.display-center {
    display: flex;
    flex-direction: column;
}

.spinner {
    margin-top: 84px;
    display: flex;
    justify-content: center;
}

.heading-top-search {
    color: black;
    text-align: center;
    margin-top: 84px;
}

.margin-top-search {
    margin-top: 0;
}